gpiozero==1.5.1
dash==1.18.1
uvicorn==0.13.3
dash_core_components==1.14.1
dash_html_components==1.1.1
pandas==1.2.0
plotly==4.14.3
pydantic==1.7.3
aiohttp==3.7.3
smbus2==0.4.0
dash_table==4.11.1
starlette==0.13.6
fastapi==0.63.0
