dash==1.18.1
gpiozero==1.5.1
requests==2.25.1
pydantic==1.7.3
starlette==0.13.6
pandas==1.2.0
plotly==4.14.1
dash_table==4.11.1
uvicorn==0.13.3
dash_html_components==1.1.1
smbus2==0.4.0
dash_core_components==1.14.1
fastapi==0.63.0
